@model IEnumerable<MvcKitapProjesi1.Models.KitapTurleri>

@{
    ViewBag.Title = "Kitap Türleri";
}

<h2>Kitap Türleri</h2>

<p>
    @Html.ActionLink("Yeni Tür Ekle", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tür ID</th>
            <th>Tür Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TurID</td>
                <td>@item.TurAdi</td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.TurID }, new { @class = "btn btn-primary btn-sm" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.TurID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
